<h1>Summary of All Posts</h1>

<div>
<% @topics.each do|topic| %>
  <%= link_to topic.name, topic %>
  <br/>
<%end%>
</div>
<br/>
<div>
<% @posts.each do|post| %>
  <%= link_to post.title, topic_post_path(post.topic, post) %>
  <br/>
<%end%>
</div>


