<h1>About Bloccit</h1>
<p>Created by: Roberto Lee</p>
<p>Created by: <%=my_name %></p>

<p>A button made using < button ></p>
<button type="button"> <%= link_to "Follow me", "https://www.linkedin.com/in/robertalexanderlee" , class: "social-btn" %> </button>

<p>A button made using < div ></p>
<div><%= link_to "Follow me", "https://www.linkedin.com/in/robertalexanderlee" , class: "social-btn" %> </div>

